
body {
  background-color: #4fe782;
  background-image: -webkit-linear-gradient(to bottom right, #4fe782 0%, #4fe782 60%, #c9feda 60%, #c9feda 60%);
  background-image: linear-gradient(to bottom right, #4fe782 0%, #4fe782 60%, #c9feda 60%, #c9feda 60%);
}

main {
  min-height: 90vh;
}

h3 {
  padding: 1rem 0;
}

h2{
  padding-top: 1.5rem;
  color: #ffffffcf;
  font-size: 1.4rem;
}

// .box-around {
//   border: 1px solid rgb(192, 254, 209);
//   box-shadow: 2px 2px 2px 1px rgba(192, 254, 209, 0.2);
// }

.input-field {
  background-color: #ffffff;
  padding: 1rem 1rem;
}

.results {
  background-color: #383838;
  color: #2d5939;
  border-left: 1px solid rgb(192, 254, 209);
}

.flex-container2 {
  color: #2d5939;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  margin: 2rem 0;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-group-flush{
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}